<!DOCTYPE html>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <!--<base href="/">-->
  <meta charset="UTF-8">
  <title>LogWork</title>
  <meta name="description" content="LogWork - Time Management Tool">
  <meta name="viewport" content="width=device-width">

  <link rel="icon" type="image/png" sizes="16x16" href="img/logwork.ico">
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="libs/font-awesome/css/all.min.css"/>

  <link rel="stylesheet" href="css/style-login.css"/>
</head>

<body>

<div id="lw-login" class="lw-login">
  <transition name="fade">
    <div class="loading" v-if="false">
      <p>Loading...</p>
    </div>
  </transition>

  <div id="lw-login-branding" class="lw-login-branding">
    <div id="lw-login-logo" class="lw-login-logo">
      <a href="" class="lw-logo-link">
        <i class="lw-logo far fa-clock fa-2x"></i>
        <span class="lw-title">LogWork</span>
      </a>
    </div>
  </div>

  <div class="lw-login-form-wrapper container">
    <div class="row" v-if="loginFailed || registerFailed">
      <div class="mx-auto col-md-10 col-lg-6 alert alert-danger">
        {{ errorMsg }}
      </div>
    </div>
    <div class="row" v-if="loginSuccess || registerSuccess">
      <div class="mx-auto col-md-10 col-lg-6 alert alert-success">
        {{ successMsg }}
      </div>
    </div>
    <div class="row">
      <div class="lw-login-form col-md-10 col-lg-6">
        <div class="lw-login-nav-bar">
          <div class="nav-bar-item"
               v-bind:class="{active: isLogin}"
               v-on:click="isLogin = true;">Login
          </div>
          <div class="nav-bar-item"
               v-bind:class="{active: !isLogin}"
               v-on:click="isLogin = false;">Register
          </div>
        </div>
        <div v-if="isLogin">
          <div class="lw-login-row">
            <label for="username"
                   class="lw-login-label">Username
            </label>
            <div class="lw-input-group input-group mb-3">
              <input type="text" id="username"
                     class="form-control" placeholder="Username"
                     v-model="loginUsername" v-on:keyup.enter="login">
              <div class="input-group-prepend">
              <span class="input-group-text text-center">
                <i class="far fa-id-card"></i>
              </span>
              </div>
            </div>
          </div>

          <div class="lw-login-row">
            <label for="password"
                   class="lw-login-label">Password</label>
            <div class="lw-input-group input-group mb-3">
              <input v-bind:type="loginShowPwd ? 'text' : 'password'" id="password"
                     class="form-control" placeholder="Password"
                     v-model="loginPassword" v-on:keyup.enter="login">
              <div class="input-group-prepend toggling" v-on:click="loginShowPwd = !loginShowPwd">
              <span class="input-group-text text-center">
                <span v-show="loginShowPwd"><i class="far fa-eye"></i></span>
                <span v-show="!loginShowPwd"><i class="far fa-eye-slash"></i></span>
              </span>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-danger"
                    v-on:click="login"
                    v-bind:disabled="checkLoginDisabled">
              LOG IN
            </button>
          </div>
        </div>
        <div v-if="!isLogin">

          <div class="lw-login-row">
            <label for="full-name"
                   class="lw-login-label">Full Name</label>
            <div class="lw-input-group input-group mb-3">
              <input type="text" id="full-name"
                     class="form-control" placeholder="Full Name"
                     v-model="registerFullName" v-on:keyup.enter="register">
              <div class="input-group-prepend">
                <span class="input-group-text text-center">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="lw-login-row">
            <label for="new-username"
                   class="lw-login-label">*Username
            </label>
            <div class="lw-input-group input-group mb-3">
              <input type="text" id="new-username"
                     class="form-control" placeholder="Username"
                     v-model="registerUsername" v-on:keyup.enter="register">
              <div class="input-group-prepend">
                <span class="input-group-text text-center">
                  <i class="far fa-id-card"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="lw-login-row">
            <label for="new-password"
                   class="lw-login-label">*Password</label>
            <div class="lw-input-group input-group mb-3">
              <input v-bind:type="registerShowPwd ? 'text' : 'password'" id="new-password"
                     class="form-control" placeholder="Password"
                     v-model="registerPassword" v-on:keyup.enter="register">
              <div class="input-group-prepend toggling"
                   v-on:click="registerShowPwd = !registerShowPwd">
              <span class="input-group-text text-center">
                <span v-show="registerShowPwd"><i class="far fa-eye"></i></span>
                <span v-show="!registerShowPwd"><i class="far fa-eye-slash"></i></span>
              </span>
              </div>
            </div>
          </div>

          <div class="lw-login-row">
            <label for="confirm-password"
                   class="lw-login-label">*Confirm Password</label>
            <div class="lw-input-group input-group mb-3">
              <input v-bind:type="showConfirmPassword ? 'text' : 'password'" id="confirm-password"
                     class="form-control" placeholder="Confirm Password"
                     v-model="confirmPassword" v-on:keyup.enter="register"
                     v-bind:class="{'is-invalid': confirmPassword !== '' && registerPassword !== confirmPassword}">
              <div class="input-group-prepend toggling"
                   v-on:click="showConfirmPassword = !showConfirmPassword">
                <span class="input-group-text text-center">
                  <span v-show="showConfirmPassword"><i class="far fa-eye"></i></span>
                  <span v-show="!showConfirmPassword"><i class="far fa-eye-slash"></i></span>
                </span>
              </div>
              <div class="invalid-feedback">
                Password does not match
              </div>
            </div>
          </div>

          <div class="lw-login-row">
            <label for="email"
                   class="lw-login-label">Email</label>
            <div class="lw-input-group input-group mb-3">
              <input type="text" id="email"
                     class="form-control" placeholder="Email"
                     v-model="email" v-on:keyup.enter="register"
                     v-bind:class="{'is-invalid': email !== '' && !isValidEmail}">
              <div class="input-group-prepend">
                <span class="input-group-text text-center">
                  <i class="fas fa-at"></i>
                </span>
              </div>
              <div class="invalid-feedback">
                Email is invalid
              </div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-danger"
                    v-on:click="register"
                    v-bind:disabled="checkRegisterDisabled">
              REGISTER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--include libraries required files-->
<script src="libs/jquery/jquery-3.3.1.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<script src="libs/font-awesome/js/all.min.js"></script>
<script src="libs/lodash/lodash.min.js"></script>
<script src="libs/axios/axios.min.js"></script>

<!--include vue.js framework's required files-->
<script src="libs/vue-js/vue.min.js"></script>

<!--bootstrap module-->
<script src="js/login.js"></script>

</body>
</html>