.lw-dashboard-wrapper .account-avatar {
  border-radius: 50%;
}
.lw-dashboard-wrapper .most-active {
  text-align: center;
  margin-bottom: 1rem;
  border: 1px #ddd solid;
  border-radius: 4px;
  padding: 10px 15px;
}
.lw-dashboard-wrapper .most-active h5 {
  margin-bottom: 1rem;
}
.lw-dashboard-wrapper .most-active .account-info {
  display: flex;
  margin-top: 1rem;
}
.lw-dashboard-wrapper .most-active .account-info div {
  flex: 1;
}
.lw-dashboard-wrapper .activity {
  border: 1px #ddd solid;
  border-radius: 4px;
  padding: 10px 15px;
}
.lw-dashboard-wrapper .activity h5 {
  margin-bottom: 1rem;
}
.lw-dashboard-wrapper .activity .act-list {
  margin: 0;
  padding: 0;
}
.lw-dashboard-wrapper .activity .act-list .individual-act {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.lw-dashboard-wrapper .activity .act-list .individual-act .act-portion {
  font-size: 12px;
}
.lw-dashboard-wrapper .activity .act-list .individual-act .act-portion .account-avatar {
  width: 30px;
  margin-right: 10px;
}
.lw-dashboard-wrapper .activity .act-list .individual-act .act-portion.info {
  flex: 2;
}
