.lw-dashboard-wrapper
  .account-avatar
    border-radius 50%

  .most-active
    text-align center
    margin-bottom 1rem
    border 1px #ddd solid
    border-radius 4px
    padding 10px 15px

    h5
      margin-bottom 1rem

    .account-info
      display flex
      margin-top 1rem

      div
        flex 1

  .activity
    border 1px #ddd solid
    border-radius 4px
    padding 10px 15px

    h5
      margin-bottom 1rem

    .act-list
      margin 0
      padding 0

      .individual-act
        display flex
        align-items center
        margin-bottom 10px

        .act-portion
          font-size 12px

          .account-avatar
            width 30px
            margin-right 10px

        .act-portion.info
          flex 2
