.lw-sidebar
  width 200px
  height 100vh
  padding 0 8px
  position relative
  background #323232
  //transition width 50ms ease-in-out

  .lw-sb-branding
    height 70px

    .lw-sb-logo
      height 100%
      padding 0 16px
      line-height 70px
      overflow hidden
      border-bottom 1px #404040 solid

      .lw-logo-link
        font-size auto

        &:hover
          text-decoration none

        .lw-logo
          vertical-align middle
          color red

        .lw-title
          vertical-align middle
          margin-left 8px
          font-size 20px
          color #ccc

  .lw-sb-features
    margin-top 8px

    .lw-sb-menu
      list-style none
      padding 0

      .menu-item
        overflow hidden
        height 34px

        .link
          color #ccc
          height 100%
          width 100%
          display block
          padding 4px 8px
          svg
            vertical-align middle
            margin-right 8px

          &.router-link-active
            background #5a5a5a
            border-radius 8px !important

        &:hover
          .link
            color #fff
            text-decoration none

        .menu-title
          display inline-block
          vertical-align middle

  .lw-sb-footer
    position absolute
    bottom 0
    left 8px
    right 8px
    height 60px

    .lw-panel-user
      display none
      width 100px
      position absolute
      right 5px
      bottom 100%
      margin-bottom 5px
      background #ccc
      padding 5px 10px
      border-radius 5px

      .logout-btn
        border 0
        background transparent
        font-size 14px
        cursor pointer
        color #323232

        &:hover
          .logout-icon
            color #f00

    #showLogOut
      display none

      &:checked ~ .lw-panel-user
        display block

    .lw-cur-user
      height 50px
      color #ccc
      position relative
      padding 0 5px
      overflow hidden

      .account-info
        display inline-block
        vertical-align middle
        padding-top 4px
        height 50px

        .user-info
          display block
          font-size 13px
          line-height 20px

        .account-email
          font-size 12px
          color #999

      .lw-avatar-panel
        cursor pointer

        .account-avatar
          width 50px
          display inline-block
          border-radius 50%

@media only screen and (max-width: 1200px)
  .lw-sidebar
    width 54px

    .lw-sb-branding
      .lw-sb-logo
        padding 0 5px

        .lw-logo-link
          font-size 14px

        .lw-title
          display none

    .lw-sb-features
      .lw-sb-menu
        .menu-item
          .link
            text-align center

            svg
              margin-right 0

          .menu-title
            display none

    .lw-sb-footer
      height 50px

      .lw-panel-user
        top 2px
        height 34px
        left 50px

      .lw-cur-user
        padding 0
        height 38px

        .account-info
          display none

        .lw-avatar-panel
          .account-avatar
            width 38px