.lw-main-content {
  margin-left: 200px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 15px;
}
.lw-general-title {
  padding: 60px 0;
}
.week-picker-wrapper {
  position: relative;
}
.week-picker-wrapper .week-picker-input {
  border: 0;
  outline: none;
  padding-right: 30px;
  cursor: pointer;
  height: 46px;
}
.week-picker-wrapper .picker-icon {
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
}
.lw-filter-wrapper .navbar {
  padding: 0;
}
.lw-filter-wrapper .navbar .lw-filter .lw-dropdown-toggle {
  cursor: pointer;
}
.lw-filter-wrapper .navbar .lw-filter .lw-dropdown .lw-dropdown-item {
  height: 40px;
  padding: 0 15px;
  line-height: 34px;
  display: flex;
  align-items: center;
}
.lw-filter-wrapper .navbar .lw-filter .lw-dropdown .lw-dropdown-item:active {
  color: #16181b;
  background-color: #f8f9fa;
}
.lw-filter-wrapper .navbar .lw-filter .lw-dropdown .lw-dropdown-item input {
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
}
.lw-filter-wrapper .navbar .lw-filter .lw-dropdown .lw-dropdown-item label {
  flex: 1;
  margin: 0;
  vertical-align: middle;
}
.lw-filter-wrapper .navbar .lw-filter.navbar-nav {
  line-height: 32px;
  position: relative;
}
.lw-filter-wrapper .navbar .lw-filter.navbar-nav .filter-desc {
  border: 0;
  height: 100%;
  background: transparent;
}
.lw-filter-wrapper .navbar .lw-filter.navbar-nav .filter-apply {
  position: absolute;
  right: 0;
  width: 140px;
}
.lw-filter-wrapper .navbar .lw-filter.navbar-nav .filter-apply .btn {
  width: 100%;
  border-radius: 0;
}
.lw-operation-wrapper {
  height: 38px;
  position: relative;
}
.lw-operation-wrapper .time-label {
  line-height: 38px;
}
.lw-operation-wrapper .operation-navbar .navbar-nav {
  position: absolute;
  right: 0;
  top: 0;
}
.lw-table-header {
  cursor: pointer;
}
.lw-table-header .active {
  color: #f00;
}
.datepicker .datepicker-days tr:hover {
  background-color: #d2d2d2;
}
.datepicker .datepicker-days td,
.datepicker .datepicker-days th {
  width: 50px;
  height: 30px;
}
.datepicker .datepicker-days td.active {
  background-color: #05f;
  background-image: none;
}
.lw-team-wrapper .team-avatar {
  padding: 5px;
}
.lw-team-wrapper .team-avatar .img-avatar {
  width: 38px;
  border-radius: 50%;
}
.activeTimer {
  font-weight: bold;
  background-color: #f4f4f4;
  cursor: pointer;
}
.activeTimerStop {
  background-color: #f00 !important;
}
@media only screen and (max-width: 1200px) {
  .lw-main-content {
    margin-left: 54px;
  }
}
