.lw-login
  min-height 100vh
  padding 0 8px
  position relative
  background #323232

  .loading
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background #323232
    color #fff
    text-align center
    padding-top 45vh
    font-size 28px
    z-index 1

    .fade-enter-active
    .fade-leave-active
      transition opacity .5s

    .fade-enter
    .fade-leave-to
      opacity 0

  .lw-login-branding
    height 70px

    .lw-login-logo
      height 100%
      padding 0 16px
      line-height 70px
      border-bottom 1px #404040 solid

      .lw-logo-link

        &:hover
          text-decoration none

        .lw-logo
          vertical-align middle
          color red

        .lw-title
          vertical-align middle
          margin-left 8px
          font-size 20px
          color #ccc

  .lw-login-form-wrapper
    padding 50px 0 0

    .lw-login-form
      background #fff
      margin 0 auto
      border-radius 5px
      padding 50px 70px

      .lw-login-label
        font-size 20px
        font-weight bold

      .lw-input-group
        .input-group-prepend.toggling
          cursor pointer

        .input-group-text
          display inline-block
          min-width 44px

    .lw-login-nav-bar
      display flex
      align-items center
      margin-bottom 40px

      .nav-bar-item
        flex 1
        text-align center
        padding 10px
        font-size 24px
        font-weight bold
        border-bottom 1px #ddd solid

        &.active
          color #f00

        &:last-child
          border-left 1px #ddd solid