<div class="lw-tag" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div class="lw-tag-wrapper">
    <div class="container">
      <div class="row my-4">
        <div class="col-md-4 align-self-center">
          <h2>Tags</h2>
        </div>
      </div>
      <div class="row justify-content-center pb-4">
        <div class="col-md-8">
          <div class="w-100">
            <div class="input-group">
              <input type="text" id="txtAddTagName" class="form-control form-control-lg" placeholder="New tag name..."
                     v-model="newTag">
              <div class="input-group-append">
                <button class="btn btn-success btn-lg f-w" v-bind:disabled="newTag === ''" v-on:click="addTag">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div id="tags-container" class="col-md-12">
          <div class="tag-container" v-for="t in tags">
            <span class="tag-name">{{t.name}}</span>
            <span class="tag-edit" data-toggle="modal" data-target="#modalEditTag"
                  v-on:click="pickTag(t)"><i class="fas fa-pen"></i></span>
            <span class="tag-remove" data-toggle="modal" data-target="#modalDeleteTag"
                  v-on:click="pickTag(t)"><i class="fas fa-times"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit modal -->
  <div class="modal" id="modalEditTag" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit tag</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="txtEditTagName" class="w-100">
                  <input type="text" id="txtEditTagName" class="form-control" v-model="selectedTag.name">
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="editTag">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete modal -->
  <div class="modal" id="modalDeleteTag" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete tag</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12 form-group">
                Are you sure you want to delete selected tag?
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="deleteTag">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>