<div class="lw-team-wrapper lw-general-title" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <!--Tab name and Create Project button-->
  <div class="lw-container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h2>Team</h2>
      </div>
    </div>
  </div>

  <!--Search bar-->
  <div class="lw-container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light py-2 mt-5">
      <button class="navbar-toggler ml-3" data-toggle="collapse" data-target="#searchBar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="lw-proj-search-bar collapse navbar-collapse w-100" id="searchBar">
        <form class="w-100">
          <div class="input-group">
            <input type="text" class="form-control form-control-lg"
                   placeholder="Search member..." v-model="searchKey">
          </div>
        </form>
      </div>
    </nav>
  </div>

  <div class="lw-container table-responsive">
    <table class="table table-hover table my-5">
      <thead>
      <tr class="d-flex">
        <th class="lw-table-header col-2">
          <span>Avatar</span>
        </th>
        <th class="lw-table-header col-5" v-on:click="sortTable('fullName')">
          <span>Member</span>
          <span>
              <span v-bind:class="{active: sortBy === 'fullName' && sortOrder === 'asc'}">
                <i class="fas fa-angle-down"></i>
              </span>
              <span v-bind:class="{active: sortBy === 'fullName' && sortOrder === 'desc'}">
                <i class="fas fa-angle-up"></i>
              </span>
            </span>
        </th>
        <th class="lw-table-header col-5" v-on:click="sortTable('email')">
          <span>Email</span>
          <span>
              <span v-bind:class="{active: sortBy === 'email' && sortOrder === 'asc'}">
                <i class="fas fa-angle-down"></i>
              </span>
              <span v-bind:class="{active: sortBy === 'email' && sortOrder === 'desc'}">
                <i class="fas fa-angle-up"></i>
              </span>
            </span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="d-flex" v-for="mem in teamMembersSorted">
        <td class="team-avatar col-2">
          <img class="img-avatar" v-bind:src="'img/' + (mem.avatar || 'default') + '.jpg'" v-bind:alt="mem.fullName">
        </td>
        <td class="col-5">{{ mem.fullName }}</td>
        <td class="col-5">{{ mem.email }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>